
 <div class="container flex flex-column align-items-center">
    <div class="flex"style="margin-bottom:10px"><app-list-add (listCreated)="listChangeEmit()"></app-list-add></div>
    <div class="flex flex-wrap justify-content-center gap-6 " style="max-width: 1000px;">
                @for(list of listResponse; track list){
                        <p-card [style]="{ width: '15rem'}">
                            <ng-template pTemplate="header">
                                <i class="pi pi-times" style="font-size: 1rem; width: 100%; text-align: right;" (click)="deleteList(list)"></i>
                                <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
                            </ng-template>
                            <ng-template pTemplate="title"> 
                                @if(editedListId !== list.id){
                                    {{list.name}}
                                    <i class="pi pi-pencil" style="font-size: 1rem" (click)="enableEdit(list)"></i>
                                }
                                @else{
                                    <input type="text" [style]="{width: '10rem'}"pInputText [(ngModel)]="editedListName.name" />
                                    <i class="pi pi-check" style="font-size: 1rem" (click)="updateListName()"></i>   
                                    <i class="pi pi-times" style="font-size: 1rem;" (click)="cancelEdit(list)"></i>
                                }
                            </ng-template>
                            
                            <ng-template pTemplate="footer">
                                <div class="flex gap-4 mt-1">
                                    <p-button label="details" class="w-full" styleClass="w-full" (click)="nagivateToDetails(list.id)"/>
                                </div>
                            </ng-template>
                        </p-card>
                    
                    }
                    @empty {
                        <p > no lists available - create a new one </p>
                    }
    </div>
</div>